/* LANDING PAGE */
/* HEADER */
@media (min-width: 500px) {
  .title {
    margin-top: 3%;
  }
}

@media (min-width: 580px) {
  .title {
    margin-top: 4%;
  }
}

@media (min-width: 650px) {
  .title {
    margin-top: 5%;
  }
}

@media (min-width: 710px) {
  .title {
    margin-top: 6%;
  }
}

@media (min-width: 900px) {
  .title {
    margin-top: 7%;
  }
}

@media (min-width: 1200px) {
  .title {
    margin-top: 8%;
  }
}